


<div class="container">
    <ul class="list-style-none pd-zero flex">
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Help</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Status</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Writers</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Blog</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Careers</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Privacy</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">Terms</a>
        </li>
        <li class="nav-item pd-right-10">
            <a class="nav-link pd-zero" href="#">About</a>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>


