<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="count" class="et_pb_section et_pb_section_1 et_section_specialty pt-none" data-count=<%= results[2][0].postscount %>>
    <div class="et_pb_row" id="container">
        <div class="et_pb_module et_pb_blurb et_pb_blurb_2 et_pb_bg_layout_light  et_pb_text_align_left  et_pb_blurb_position_left mb-30 box-shadow-none container-item" style="">
            <div class="et_pb_blurb_content">

                <div class="et_pb_blurb_container">
                                <h1>jskdjdjskdjkjdjdsjjdsjkds</h1>
                    </div>
                </div>
            </div>
        </div>

        <div id="loadMore">
        </div>
    </div>
</div>
<script src="./js.js"></script>
</body>
</html>