<% include ../partials/header %>

<div class="jumbotron">
    <div class="container pd-zero">
    <h1 class="display-4">TIV</h1>
    <p class="lead"><% if (!req.isAuthenticated()) { %>Upload something.<% } else { %>Follow Topics.<% } %></p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/topics" role="button">Explore</a>
    </div>
</div>

<% include ../partials/footer %>








